<%- model_class = Gallery -%>

<div class="intro" style="text-align:center;">

  <h5 style="display:inline;"><u>Hello</u> </h5>
  <p style="display:inline;"><%= current_user.username %></p>
  <h5><u>Welcome to Gallery Book :)</u></h5>
  <%= link_to "New Gallery",
              new_gallery_path(:user_id => current_user.id),
              :class => 'btn btn-success' %>

</div>

<div class="page-header">
  <h5><u>My <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></u></h5>
</div>

<div class="row">
  <% @galleries.each do |gallery| %>
    <div class="span4">
      <div class="img" style="padding-bottom:0;"><%= link_to image_tag(gallery.photos.first.picture.url), gallery_path(gallery) if gallery.photos.first.picture.url.present? %>
        <div class="number">
          <div style="position:absolute;top:30%;left:30%;"><%= link_to gallery.photos.length, gallery_path(gallery) %>
          </div>
        </div>
      </div>

      <div style="margin-top:-30px;"><h4><%= link_to gallery.gallert_name, gallery_path(gallery) %></h4></div>
      <div><%= link_to gallery.description, gallery_path(gallery) %></div>
    </div><!-- .span4 -->
  <% end %>
</div><!-- .row -->

  <br>
